$padding-50-0-10-20: 50px 0px 10px 20px;
$padding-0-40: 0px 40px;
$padding-5-30: 5px 30px;

$button-padding: 5px 20px;
$rounded-border: 50px;

$margin-small: 10px;
$margin-big: 70px;
$margin-regular: 6em;
$margin-0-auto: 0 auto;
$regular-width: 40%;