@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');
$font-family: "Open Sans";

$font-size-small: 0.9*$font-size-regular;
$font-size-regular: 1.3em;
$font-size-large: 2.3*$font-size-regular;
$height: 3.75em;
$line-height-regular: 1.4em;
$line-height-small: 1.2em;
$weight-light: 400;
$weight-bold: 700;
$right: right;