@font-face {
    font-family: Lato;
    src: url("./../assets/fonts/Lato-Regular.ttf");
}


body{
    padding: 0;
    margin: 0;
    font-family: "Lato";
    background-color: #70B7E3;
    font-size: 26px;
    text-align: center;
}

.container{
    margin-left: 25%;   
    width: 50%;
    height: 30px;
}

input{
    width: 100%;
    height: 30px;
    border: 2px solid darkred;
    margin-bottom: 15px;
}

textarea{
    border: 2px solid darkred;
    width: 100%;
    height: 200px;
}

.wyslij{
    width: 100px;
    text-align: center;
    display: block;
    float: right;
    background-color: #D07C7C;
    color: white;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
}

.user-instructions{
    font-size: 14px;
    text-align: left;
    margin-left: 20px;
}

.wyslij:hover{
    opacity: 0.6;
    tex
}